html {
  overflow-x: hidden;
  height: 100%;
}
body {
  background-color: #ffffff;
  height: 100%;
  color: #ecf0f1;
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: black;
}
header {
  text-align: center;
  z-index: 100;
  position: relative;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /*width: 100%;*/
    margin-top: 30px;
    max-width:100%;
    white-space:nowrap;
}

caption {
  text-align:left
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

header img {
  position: relative;
  height: auto;
  max-width: 100%;
  margin: auto;
}

header h1 {
  color: black;
  font-weight: normal;
  font-size: 3em;
  margin: 60px 0px 60px 0px;
  line-height: 1em;
  /*text-shadow: 1px 1px 3px #000000;*/
  position: relative;
/*  left: 50%;
  margin-left: -250px;*/
}

header ul {
  position: relative;
  margin-top: 0px;
  margin-left: 0%;

}

@media only screen and (min-width: 800px){
  header ul {
    position: relative;
    margin-top: 0px;
    margin-left: 25%;
  }
}

iframe {
  padding-top: 30px;
}

.faded {
  opacity: 0.2;
  filter: blur(3px);
}
.center {
  text-align: center;
}
.truncate {
  width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container {
  margin-top: 25px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: justify;
}
.brand {
  background-color: red;
  overflow: auto;
}

#content {
  color: #000000;
  position: relative;
  transform: none;
  transition: filter 0.3s, opacity 0.2s;
  /*Title block styling*/
  /*Content "card" styling*/
  /*Blog post styling*/
}

@media screen and (min-width: 800px) {
  #content {
    color: #000000;
    margin-top: 10px;
    margin-right: 25%;
    margin-left: 25%;
    position: relative;
    transform: none;
    transition: filter 0.3s, opacity 0.2s;
    /*Title block styling*/
    /*Content "card" styling*/
    /*Blog post styling*/
  }
}

#content div.title {
  /*background-color: #000000;*/
  color: white;
  padding-bottom: 5px;
  font-size: 0.7em;
  text-align: left;

}
#content div.title h2 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  text-align: center;
  font-weight: normal;
}
#content div.title a {
  margin: 0;
  padding: 0;
  font-size: 3.5em;
  text-align: center;
  font-weight: normal;
  color: red;
}
#content #post {
  font-size: 22px;
  line-height: 1.45;
}
#content #post p {
  padding: 15px 60px 15px 60px;
}
#content #post p:first-child {
  padding-top: 60px;
}
#content #post p:last-child {
  padding-bottom: 60px;
}
#content #post h3 {
  text-transform: uppercase;
  border-bottom: 2px solid;
  padding: 0px 0px 0px 0px;
  margin: 40px 30px 0px 30px;
  clear: both;
}
#content #post img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#content #post div.fw-image {
  width: 100%;
}
#content #post div.fw-image span.caption {
  display: block;
  text-align: center;
  font-size: 0.8em;
}
#content #post div.hw-image-left {
  width: 40%;
  float: left;
  margin: 30px;
}
#content #post div.hw-image-left span.caption {
  display: block;
  text-align: center;
  font-size: 0.8em;
}
#content #post div.hw-image-right {
  width: 40%;
  float: right;
  margin: 30px;
}
#content #post div.hw-image-right span.caption {
  display: block;
  text-align: center;
  font-size: 0.8em;
}
#content #post div.codehilite {
  padding: 1px 20px 1px 20px;
  font-size: 18px;
}
#content #post code {
  display: inline-block;
  padding: 0px 8px 0px 8px;
  border-radius: 5px;
  border: 2px solid black;
  /*background-color: black;*/
  /*color: white;*/
}
#content #post ul {
  margin: 0px 60px 0px 60px;
}
#content #post ol {
  margin: 0px 60px 0px 60px;
}
#content div#disqus_thread {
  padding: 30px;
}
canvas#myChart {
  width: 100% !important;
  max-width: 800px;
  height: auto !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  background-color: #333;
}

@media screen and (min-width: 800px) {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 50%;
    background-color: #333;
  }
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
