{% extends "base.html" %}
            {% block title %}It's Just 2 Brothers{% endblock %}
            {% block description %}Listing of written articles.{% endblock %}
            {% block content %}
            
            <div class="row">
                <div class="container">
                {% for post in posts %}
                	<p>
                        <div class="title">
	            		   <a href="{{ url_for('post', name=post.path.replace('posts/', '')) }}" class="internal">
			            	  {{ post.title }}
			        	  </a><br>
                        </div>
			        	<small>{{ post.date }}</small>
                        <br><br>
                        {{ post.html | safe }}
                        <br>
		        	</p>
            	{% endfor %}
 			</div>
            </div>
            {% endblock %}