{% extends "base.html" %}
            {% block title %}{{ post.title }}{% endblock %}
            {% block description %}{{ post.description }}{% endblock %}
            {% block content %}
            <div class="row">
                <div class="container">
                    <div class="title">
                        <h2>
                            <span><a href="{{ url_for('posts') }}" class="internal"><i style="float:left; margin-top:15px; color:white; font-size: 35px;" class="left_arrow"></i>
                            {{ post.title }}</a></span>
                        </h2>
                    </div>
                <small>{{ post.date }}</small><br><br>
                    <!-- </h2> -->
            <!-- </div> -->
            <!-- <div class="container"> -->
<!--                 <div class="row">
                    <div id="post" class="sixteen columns card"> -->
                        {{ post.html|safe }}
                </div>
            </div>

            <script type="text/javascript">
            $(document).ready(function(){
                $('#post a').attr('target','_blank');
            });
            </script>
            {% endblock %}